html, body, #container {text-align: center; overflow: hidden;}

table, tr, td {
    margin: auto;
    padding-bottom: 10px;
    padding-left: 10px;
}
#footer{
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: 5%;
}

#follow {
    position: fixed;
    z-index: 9999;
    bottom: 0%;
    right: 5px;
    float: right;
}
#follow > ul > li{
    list-style-type: none;
}
input, button{
    margin: 10px;
}
#error{
    color: red;
}

